@import 'tailwindcss';
@import 'uniwind';

@theme {
	--color-background: oklch(100% 0 0);
	--color-foreground: oklch(20.32% 0 0);
	--color-card: oklch(100% 0 0);
	--color-card-foreground: oklch(20.32% 0 0);
	--color-popover: oklch(100% 0 0);
	--color-popover-foreground: oklch(20.32% 0 0);
	--color-primary: oklch(28.13% 0 0);
	--color-primary-foreground: oklch(98.59% 0 0);
	--color-secondary: oklch(96.59% 0 0);
	--color-secondary-foreground: oklch(28.13% 0 0);
	--color-muted: oklch(96.59% 0 0);
	--color-muted-foreground: oklch(56.32% 0 0);
	--color-accent: oklch(96.59% 0 0);
	--color-accent-foreground: oklch(28.13% 0 0);
	--color-destructive: oklch(62.8% 0.185 23.64);
	--color-border: oklch(91.48% 0 0);
	--color-input: oklch(91.48% 0 0);
	--color-ring: oklch(69.8% 0 0);

	--radius: 0.625rem;

	--color-chart-1: oklch(67.89% 0.135 33.29);
	--color-chart-2: oklch(55.51% 0.056 197.42);
	--color-chart-3: oklch(40.39% 0.045 229.79);
	--color-chart-4: oklch(74.77% 0.127 86.51);
	--color-chart-5: oklch(75.22% 0.138 40.01);
}

@theme dark {
	--color-background: oklch(20.32% 0 0);
	--color-foreground: oklch(98.59% 0 0);
	--color-card: oklch(20.32% 0 0);
	--color-card-foreground: oklch(98.59% 0 0);
	--color-popover: oklch(20.32% 0 0);
	--color-popover-foreground: oklch(98.59% 0 0);
	--color-primary: oklch(98.59% 0 0);
	--color-primary-foreground: oklch(28.13% 0 0);
	--color-secondary: oklch(40.39% 0 0);
	--color-secondary-foreground: oklch(98.59% 0 0);
	--color-muted: oklch(40.39% 0 0);
	--color-muted-foreground: oklch(71.09% 0 0);
	--color-accent: oklch(40.39% 0 0);
	--color-accent-foreground: oklch(98.59% 0 0);
	--color-destructive: oklch(65.89% 0.179 28.52);
	--color-border: oklch(40.39% 0 0);
	--color-input: oklch(40.39% 0 0);
	--color-ring: oklch(56.32% 0 0);

	--color-chart-1: oklch(59.29% 0.139 249.05);
	--color-chart-2: oklch(57.51% 0.071 193.36);
	--color-chart-3: oklch(66.19% 0.114 80.04);
	--color-chart-4: oklch(70.09% 0.11 288.59);
	--color-chart-5: oklch(70.89% 0.115 356.08);
}
